@CHARSET "EUC-KR";
body {
	font-size: 1em;/*pt, em:폰트 */
	color: #333;
	font-family: "맑은 고딕";
}

header, article, footer, #sidemenu {
	border: 1px solid #999;
	margin: 5px;
	padding: 10px;
}
header {
	height: 100px;
	background-color: #FC0;
}

article {
	float:right;/*정렬*/
	width:70%;
	font-size: 0.75em;/* pt, em :폰트 */
	line-height: 1.5em;
}

figure {/* 그림 넣는 태그 */
	float:right;  /*정렬*/
	margin:5px;	
}

figure img {
	border:1px solid #666;
	box-shadow:#CCC 5px 5px 5px; /*그림자*/
}

figcaption {
	text-align:center;
}

section {
	width:95%;
	height:100px;
	padding:10px;
	background-color: #FF9;
	clear:both; /**/
}

#sidemenu {
	float:left;/*왼쪽정렬*/
	width:20%;
	height:200px;
}

#sidemenu ul {
	list-style:none;
}

footer {
	clear:both;
	height:100px;
	background-color: #6CF;
}

nav ul li {/*할아버지 아버지 아들*/
	float:left;
	margin:0 20px;
}

aside {
	width:90%;
	height:30px;
	border:1px solid #09F;
}
hgroup {
	border-bottom: 1px solid #F90;
}
